<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<meta name="viewport" content="initial-scale:1,width=device-width">
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>

	<header>
		<ul role="nav" class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/signin">Sign In</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/forgotpassword">Forgot Password</a></li>
		</ul>
		<% if(userName){ %>
		<ul class="nav">
			<li><%= userName %></li>
			<li><a href="/signout">Sign Out</a></li>
		</ul>
		<% } %>
	</header>
	
	<main>
	<h1><%= pageTitle %></h1>