<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<meta name="viewport" content="initial-scale:1,width=device-width">
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>

	<header>
		<ul role="nav" class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/register">Register</a></li>
			<% if(userName){ %>
				<li><a href="/signout">Sign Out (<%= userName %>)</a></li>
			<% } else { %>
				<li><a href="/signin">Sign In</a></li>
			<% } %>
		</ul>
		<hr>
	</header>
	
	<main>
	<h1><%= pageTitle %></h1>