<% include ../partials/header %>

<form action="/forgotpassword-go" method="post">
	<div class="form-container" >
		<div>
			<input type="text" placeholder="Email">
		</div>
		<div>
			<input type="submit" value="Request Password Reset" />
		</div>
	</div>
</form>

<% include ../partials/footer %>