<% include ../partials/header %>

This is the registration page.

<form action="/register-go" method="post">
	<div class="form-container" >
		<div>
			<input type="text" placeholder="Email">
		</div>
		<div>
			<input type="text" placeholder="Username">
		</div>
		<div>
			<input type="text" placeholder="Password">
		</div>
		<div>
			<input type="submit" value="Register" />
		</div>
	</div>
</form>

<% include ../partials/footer %>