<% include ../partials/header %>

This is the sign in page.

<form action="/signin" method="post">
	<div class="form-container" >
		<div>
			<input type="text" placeholder="Username">
		</div>
		<div>
			<input type="text" placeholder="Password">
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</div>
</form>

<% include ../partials/footer %>